@model VendaModel

<h2>Registrar uma Venda</h2>
<br />
<form asp-controller="Venda" asp-action="Registrar">
    @* <input type="hidden" asp-for="Id" value="@try{ @ViewBag.Venda.Id }catch{ }" /> *@
    <div class="form-group">
        <label>Cliente</label>
        <select asp-for="Cliente_Id" class="form-control">
            @{
            foreach(var item in (List<ClienteModel>)ViewBag.ListaClientes)
                {
                <option value="@item.Id">@item.Nome</option>
                }
                }
        </select>

    </div>

    <div class="form-group">
        <label>Cliente</label>
        <select asp-for="Vendedor_Id" class="form-control">
            @{
            foreach(var item in (List<VendedorModel>)ViewBag.ListaVendedores)
                {
                <option value="@item.Id">@item.Nome</option>
                }
                }
        </select>

    </div>

    <label>Produtos</label>
    <div class="form-group">
        <div class="col-lg-9">
            <select class="form-control" id="sltProduto">
                @{
                foreach(var item in (List<ProdutoModel>)ViewBag.ListaProdutos)
                    {
                    <option value="@item.Id">@item.Nome | @item.Preco_Unitario</option>
                    }
                    }
            </select>
        </div>
        <div class="col-lg-1">
            <input type="text" class="form-control" value="1" id="txtQuantidade">
        </div>
        <div class="col-lg-3">

            <button type="button" class="btn btn-block btn-primary" onclick="AdicionarProduto()">Adicionar</button>

        </div>

        <table class=" table table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nome</td>
                    <td>Quantidade</td>
                    <td>Preço Unitario</td>
                    <td>Total</td>


                </tr>
            </thead>
            <tbody id="listaProdutos"> </tbody>


        </table>
        <div id="divTotal">
            <h2></h2>
        </div>

        <input type="hidden" id="txtTotal" asp-for="Total"><input />

        <textarea style="display: none;" asp-for="ListaProdutos" id="ListaProdutosJSON"></textarea>


        <button type="submit" class="btn btn-block btn-success"> Registrar</button>

</form>

<script>
    var itens = new Object()
    itens.Produtos = new Array()

    var CodigoProduto = document.getElementById("sltProduto")
    var QtdeProduto = document.getElementById("txtQuantidade")
    var ListaProdutos = document.getElementById("listaProdutos")
    var ListaProdutosJSON = document.getElementById("ListaProdutosJSON")
    var txtTotal = document.getElementById("txtTotal")

    function adicionarProduto() {

        var DescricaoPreco = CodigoProduto.options[CodigoProduto.selectIndex].text;
        var arrayDescricaoPreco = DescricaoPreco.split("|")
        var total = (arrayDescricaoPreco[1].replace(",", ".") * QtdeProduto.value);
        total.Math.round(total * 100) / 100;

        itens.Produtos.push({
            "CodigoProduto": CodigoProduto.value,
            "DescricaoProduto": arrayDescricaoPreco[0],
            "QtdeProduto": QtdeProduto.value,
            "PrecoUnitario": arrayDescricaoPreco[1],
            "Total": total;

        })

        ListaProdutoJSON.innerHTML = JSON.stringify(itens.Produtos)

        var Produto = "<tr>" +
            "<td>" + CodigoProduto.value + "<td>" +
            "<td>" + arrayDescricaoPreco[0] + "<td>" +
            "<td>" + QtdeProduto.value + "<td>" +
            "<td> R$" + arrayDescricaoPreco[1] + "<td>" +
            "<td> R$" + total + "<td>" +
            "<td>"
    }

    ListaProdutos.innerHTML += Produto;

    var totalVenda = document.getElementById("divTotal")
    var totalGeral = Math.round((totalVenda.innerText * 1 + total) * 100) / 100;

    totalVenda.innerHTML = totalGeral;
    txtTotal.value = totalGeral.toSring().replace(".", ",");
</script>