
<h3>Listagem de Produtos</h3>


<table class="table table-bordered">
<thead>
<tr>
<th>Id</th>
<th>Nome</th>
<th>Preço Unitario</th>
<th>Quantidade Estoque</th>
<th>Unidade de Medida</th>
<th>Foto</th>


</tr>


</thead>

<tbody>
    @{
        foreach(var item in(List<ProdutoModel>) ViewBag.ListaProdutos){
            <tr>
                <td><button type="button" class="btn btn-warning" onclick="Editar(@item.Id)">Editar</button></td>
                                <td><button type="button" class="btn btn-warning" onclick="Excluir(@item.Id)">Excluir</button></td>

               <td>@item.Id</td>
               <td>@item.Nome</td>      
               <td>@item.Preco_Unitario</td>
               <td>@item.Quantidade_Estoque</td>
               <td>@item.Unidade_Medida</td>
               <td><img src="@item.Link_Foto" height="150" weight="150"></td>
               

            </tr>
            
            
            }
    }


</tbody>


</table>

<button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Cadastrar</button>


<script>

    funcion Cadastrar(){
        window.location.href="../Produto/Cadastro";
    }


    function Editar(id){
        window.location.href="../Produto/Editar" + id;

    }

      function Excluir(id){
        window.location.href="../Produto/Excluir" + id;

    }
</script>